@import 'tailwindcss';

@source "../../node_modules/preline/dist/*.js";
@import '../../node_modules/preline/variants.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charpentier';
    src: url('fonts/Charpentier-Sans-Pro-Maigre.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Arial', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    --font-heading: 'Charpentier';
    --font-main: 'Rubik';
    --breakpoint-xs: 30rem;
    --color-ss: #f2f3ed;
    --color-menu-hover: rgba(0, 0, 0, 0.5);
    --color-ss-gray: #767e86;
    --color-ss-dark: #181E05;
    --text-btn: 1.25rem;
    --text-btn-sm: 1rem;
    --text-btn-md: 1.125rem;
    --text-h-mob: 2.75rem;
    --text-h-sm: 3.375rem;
    --text-h-sm-mob: 2rem;
    --text-h-md: 4rem;
    --text-h: 6.875rem;
    --text-h-banner: 5.25rem;
    --leading-0-5: 0.5;
}

.home-introduction {
    /*min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));*/
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Charpentier', serif;
    text-transform: uppercase;
}

li h2,
li h3 {
    font-family: 'Rubik', serif;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 0.75rem;
}

.footer-form :focus-visible,
main :focus-visible {
    outline: 1px solid #181E05;
    outline-offset: 3px;
}

footer :focus-visible {
    outline: 1px solid white;
    outline-offset: 3px;
}

nav li :focus-visible {
    outline: 1px solid;
    outline-offset: 3px;
}

#productCarousel,
#todoCarousel,
#galleryCarousel,
#productGallery {
    --f-carousel-spacing: 32px;

    --f-button-prev-pos: 5rem;
    --f-button-next-pos: 5rem;

    --f-button-bg: #181E05;
    --f-button-color: white;

    --f-button-width: 48px;
    --f-button-height: 48px;
    --f-button-border-radius: 50%;

    --f-button-svg-width: 27px;
    --f-button-svg-height: 27px;
    --f-button-svg-stroke-width: 1.5;

    --f-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.ck-editor__editable ul,
.ck-editor__editable ol {
    padding-left: 2rem !important;
    margin: 1rem 0 !important;
}

.ck-editor__editable a {
    text-decoration: underline !important;
}

.product-pricelist > p {
    margin-bottom: 0.75rem;
}

.product-pricelist ul {
    margin-bottom: 1.5rem;
}

.product-pricelist a {
    text-decoration: underline;
}

@media screen and (min-width: 640px) {

    #productCarousel,
    #todoCarousel,
    #galleryCarousel,
    #productGallery {
        --f-carousel-slide-width: calc((100% - 32px) / 2);
    }
}

@media screen and (min-width: 1024px) {

    #productCarousel,
    #todoCarousel,
    #galleryCarousel,
    #productGallery {
        --f-carousel-slide-width: calc((100% - 64px) / 3);
    }
}

@media screen and (min-width: 1280px) {

    #todoCarousel,
    #galleryCarousel {
        --f-carousel-slide-width: calc((100% - 96px) / 4);
    }
}

button[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
