@import "tailwindcss";
@import "../../node_modules/preline/variants.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';


@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Charpentier';
    src: url('fonts/Charpentier-Sans-Pro-Maigre.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@theme {
    --font-sans: 'Arial', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Charpentier';
    --font-main: 'Rubik';
    --breakpoint-xs: 30rem;
    --color-ss: #f2f3ed;
    --color-menu-hover: rgba(0, 0, 0, 0.5);
    --color-ss-dark: rgb(30, 38, 1);
    --text-btn: 1.25rem;
    --text-btn-sm: 1rem;
    --text-btn-md: 1.125rem;
    --text-h-mob: 2.875rem;
    --text-h-med: 4rem;
    --text-h: 6.875rem;
}

:focus {
    outline: 2px solid rgb(30, 38, 1);
    outline-offset: 2px;
}

footer :focus {
    outline: 2px solid white;
    outline-offset: 2px;
}